################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IntermediateTest/v16
/Integrations/IntermediateTest.GovernmentSharedFunds/bin/Debug/netcoreapp3.0
/Integrations/IntermediateTest.GovernmentSharedFunds/obj
/Libraries/IntermediateTest.Core/bin/Debug/netcoreapp3.0
/Libraries/IntermediateTest.Core/obj
/Presentation/IntermediateTest.Api/bin/Debug/netcoreapp3.0
/Libraries/IntermediateTest.Infrastructure/bin/Debug/netcoreapp3.0
/Libraries/IntermediateTest.Infrastructure/obj
/Presentation/IntermediateTest.Api/obj
/Tests/IntermediateTest.Api.Tests/bin/Debug/netcoreapp3.0
/Tests/IntermediateTest.Api.Tests/obj
/Tests/IntermediateTest.Core.Tests/bin/Debug/netcoreapp3.0
/Tests/IntermediateTest.Core.Tests/obj
